@{
    Layout = "_LayoutADM";
    ViewBag.Titulo = "Área do ADM";
}

<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <h1 class="h3">Bem-vindo, ADM</h1>
            <p class="text-muted">Esta é a área administrativa.</p>
            <hr />
            <div class="list-group">
                <a class="list-group-item list-group-item-action" asp-controller="ADM" asp-action="ListarAlunos">Gerenciar Alunos</a>
                <a class="list-group-item list-group-item-action" asp-controller="ADM" asp-action="ListarProfessores">Gerenciar Professores</a>
                <a class="list-group-item list-group-item-action" asp-controller="ADM" asp-action="ListarCategorias">Gerenciar Categorias</a>
                <a class="list-group-item list-group-item-action" asp-controller="ADM" asp-action="ListarCursos">Gerenciar Cursos</a>
                <a class="list-group-item list-group-item-action" asp-controller="ADM" asp-action="ListarTurmas">Gerenciar Turmas</a>
            </div>
        </div>
    </div>
</div>
